# Hero Overall Win Rates

Simple calculation of the overall win rate for each hero over a series of database files. Edit DB_FILES list to contain list of files.

In [1]:
import sqlite3
import os
import meta
import json
import pandas as pd
import datetime as dt
import re
import plotly.express as px
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import *
import numpy as np

## Merge databases and remove duplicates

In [10]:
DB_FILES=[]
for filename in os.listdir("."):    
    if re.match("^.*db$",filename) is not None:    
        DB_FILES.append(filename)
                    
rows=[]
for this_file in DB_FILES:
    conn=sqlite3.connect(this_file)
    c=conn.cursor()
    c.execute("SELECT match_id, start_time, radiant_heroes, dire_heroes, radiant_win, api_skill, items, gold_spent FROM dota_stats")
    rows.extend(c.fetchall())
    print("{0} {1}".format(this_file,len(rows)))

matches_1_all_2020082718.db 15150
matches_1_all_2020082504.db 29123
matches_1_all_2020082512.db 43909
matches_1_all_2020082520.db 60071
matches_1_all_2020082522.db 75010
matches_1_all_2020082802.db 90708
matches_1_all_2020082722.db 105975
matches_1_all_2020082814.db 108518
matches_1_all_2020082708.db 112556
matches_1_all_2020082706.db 126394
matches_1_all_2020082502.db 140019
matches_1_all_2020082508.db 154171
matches_1_all_2020082514.db 170010
matches_1_all_2020082710.db 184774
matches_1_all_2020082700.db 199414
matches_1_all_2020082506.db 213265
matches_1_all_2020082712.db 229388
matches_1_all_2020082714.db 245618
matches_1_all_2020082810.db 249470
matches_1_all_2020082806.db 264521
matches_1_all_2020082518.db 281020
matches_1_all_2020082808.db 298033
matches_1_all_2020082516.db 315823
matches_1_all_2020082804.db 330626
matches_1_all_2020082702.db 344827
matches_1_all_2020082812.db 362706
matches_1_all_2020082720.db 379465
matches_1_all_2020082500.db 393581
matches_1_all_2020082716.db 412008
matches_1_all_2020082510.db 427029
matches_1_all_2020082800.db 442863
matches_1_all_2020082704.db 451747

In [11]:
rows=list(set(rows))
print("Removing duplicates: {0}".format(len(rows)))

Removing duplicates: 438193

In [12]:
import mariadb

conn_maria = mariadb.connect(
    user=os.environ['DOTA_USERNAME'],
    password=os.environ['DOTA_PASSWORD'],
    host="localhost",
    database="dota")

c=conn_maria.cursor()
c.execute("select count(*) from dota_matches")
print("Rows before merge: {0} ".format(c.fetchall()[0][0]))

# Batch samples in
BATCH_SIZE=2000
for i in range(len(rows)//BATCH_SIZE+1):    
    begin=i*BATCH_SIZE
    end=min(len(rows),(i+1)*BATCH_SIZE)
    print("{0} to {1}".format(begin,end))
    #c.executemany('INSERT IGNORE INTO dota_matches (match_id, start_time, radiant_heroes, dire_heroes, radiant_win, api_skill, items, gold_spent) values(%d, %d, %s, %s, %d, %d, %s, %s)', 
    #              list(rows)[begin:end])
    c.executemany('INSERT IGNORE INTO dota_matches (match_id, start_time, radiant_heroes, dire_heroes, radiant_win, api_skill, items, gold_spent) values(?, ?, ?, ?, ?, ?, ?, ?)', 
                  list(rows)[begin:end])
    
conn_maria.commit()
c.execute("select count(*) from dota_matches")
print("Rows after merge: {0} ".format(c.fetchall()[0][0]))
conn_maria.close()

Rows before merge: 176164
0 to 2000
2000 to 4000
4000 to 6000
6000 to 8000
8000 to 10000
10000 to 12000
12000 to 14000
14000 to 16000
16000 to 18000
18000 to 20000
20000 to 22000
22000 to 24000
24000 to 26000
26000 to 28000
28000 to 30000
30000 to 32000
32000 to 34000
34000 to 36000
36000 to 38000
38000 to 40000
40000 to 42000
42000 to 44000
44000 to 46000
46000 to 48000
48000 to 50000
50000 to 52000
52000 to 54000
54000 to 56000
56000 to 58000
58000 to 60000
60000 to 62000
62000 to 64000
64000 to 66000
66000 to 68000
68000 to 70000
70000 to 72000
72000 to 74000
74000 to 76000
76000 to 78000
78000 to 80000
80000 to 82000
82000 to 84000
84000 to 86000
86000 to 88000
88000 to 90000
90000 to 92000
92000 to 94000
94000 to 96000
96000 to 98000
98000 to 100000
100000 to 102000
102000 to 104000
104000 to 106000
106000 to 108000
108000 to 110000
110000 to 112000
112000 to 114000
114000 to 116000
116000 to 118000
118000 to 120000
120000 to 122000
122000 to 124000
124000 to 126000
126000 to 128000
128000 to 130000
130000 to 132000
132000 to 134000
134000 to 136000
136000 to 138000
138000 to 140000
140000 to 142000
142000 to 144000
144000 to 146000
146000 to 148000
148000 to 150000
150000 to 152000
152000 to 154000
154000 to 156000
156000 to 158000
158000 to 160000
160000 to 162000
162000 to 164000
164000 to 166000
166000 to 168000
168000 to 170000
170000 to 172000
172000 to 174000
174000 to 176000
176000 to 178000
178000 to 180000
180000 to 182000
182000 to 184000
184000 to 186000
186000 to 188000
188000 to 190000
190000 to 192000
192000 to 194000
194000 to 196000
196000 to 198000
198000 to 200000
200000 to 202000
202000 to 204000
204000 to 206000
206000 to 208000
208000 to 210000
210000 to 212000
212000 to 214000
214000 to 216000
216000 to 218000
218000 to 220000
220000 to 222000
222000 to 224000
224000 to 226000
226000 to 228000
228000 to 230000
230000 to 232000
232000 to 234000
234000 to 236000
236000 to 238000
238000 to 240000
240000 to 242000
242000 to 244000
244000 to 246000
246000 to 248000
248000 to 250000
250000 to 252000
252000 to 254000
254000 to 256000
256000 to 258000
258000 to 260000
260000 to 262000
262000 to 264000
264000 to 266000
266000 to 268000
268000 to 270000
270000 to 272000
272000 to 274000
274000 to 276000
276000 to 278000
278000 to 280000
280000 to 282000
282000 to 284000
284000 to 286000
286000 to 288000
288000 to 290000
290000 to 292000
292000 to 294000
294000 to 296000
296000 to 298000
298000 to 300000
300000 to 302000
302000 to 304000
304000 to 306000
306000 to 308000
308000 to 310000
310000 to 312000
312000 to 314000
314000 to 316000
316000 to 318000
318000 to 320000
320000 to 322000
322000 to 324000
324000 to 326000
326000 to 328000
328000 to 330000
330000 to 332000
332000 to 334000
334000 to 336000
336000 to 338000
338000 to 340000
340000 to 342000
342000 to 344000
344000 to 346000
346000 to 348000
348000 to 350000
350000 to 352000
352000 to 354000
354000 to 356000
356000 to 358000
358000 to 360000
360000 to 362000
362000 to 364000
364000 to 366000
366000 to 368000
368000 to 370000
370000 to 372000
372000 to 374000
374000 to 376000
376000 to 378000
378000 to 380000
380000 to 382000
382000 to 384000
384000 to 386000
386000 to 388000
388000 to 390000
390000 to 392000
392000 to 394000
394000 to 396000
396000 to 398000
398000 to 400000
400000 to 402000
402000 to 404000
404000 to 406000
406000 to 408000
408000 to 410000
410000 to 412000
412000 to 414000
414000 to 416000
416000 to 418000
418000 to 420000
420000 to 422000
422000 to 424000
424000 to 426000
426000 to 428000
428000 to 430000
430000 to 432000
432000 to 434000
434000 to 436000
436000 to 438000
438000 to 438193
Rows after merge: 438193